$primary-brand-color: #57BC90;
$secondary-color: #015249;
$nav-cta-color: #77C9D4;

$white: #fff;

$primary-brand-font: 'Oswald', sans-serif, arial;
$secondary-font: 'Open Sans', sans-serif;
$accent-font: 'Anton', sans-serif;

* {
  font-family: $primary-brand-font;
  box-sizing: border-box;
}

p {

}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: $nav-cta-color;
}

.sitename {
  color: $primary-brand-color;
  font-size: 32px;
}

.topnav {
  font-size: 28px;
  height: 60px;
  padding-bottom: 100px;
  padding-left: 25px;
  padding-right: 25px;
  color: $nav-cta-color;
}

#navright {
  float: right;
  word-spacing: 20px;
}

#navleft {
  float: left;
  padding: 0px;
}

.main {

}

.heading {
  text-align: center;
  font-size: 50px;
  background-color: $secondary-color;
  border: 5px;
  border-color: #000000;
  color: $white;
  padding-top: 20px;
  clear: both;
}

div.heading h1 {
  margin-bottom: 10px;

}

.subheading {
  font-size: 32px;
  font-family: $secondary-font;
  color: $white;
  padding-bottom: 40px;
}

div.meetjason * {
  text-align: center;
}

div.meetjason h2 {
  font-family: $accent-font;
  font-size: 44px;
  padding-top: 20px;
  line-height: 20px;
}

div.meetjason p {
  font-family: $secondary-font;
  font-size: 28px;
}

.blogbutton {
  background-color: $nav-cta-color;
  border: none;
  color: $white;
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 34px;
  margin: auto;
  width: 300px;

}

.blogbutton:hover {
  cursor:pointer;
}

.footer {
  background-color: $secondary-color;
  color: $white;
  font-size:24px;
  height: 80px;
  position: relative;
  padding-left: 30px;
  padding-top: 5px;
  width: 100%;
  clear: both;

}

h3 {
  padding-top: 20px;
}

img {
  border-radius: 50%;
}

.contain {
  margin-left: 60px;
  margin-right: 40px;
}

.intro {
  font-size: 24px;
  background-color: $white;
  padding: 10px;

}

div.intro p {
  font-family: $secondary-font;
  line-height: 35px;
}

.question1 {
  text-align: center;
  font-size: 44px;
  font-family: $accent-font;
}

.question2 {
  text-align: center;
  font-size: 44px;
  font-family: $accent-font;
}

.question3 {
  text-align: center;
  font-size: 44px;
  font-family: $accent-font;
}

#introimage {
  float: right;
  position: relative;
}

#missionimage {
  float: left;
  position: relative;
}

#whyimage {
  float: right;
  position: relative;
}

.mission {
  background-color: $white;
  font-size: 24px;
  padding: 10px;
}

div.mission p {
  font-family: $secondary-font;
  line-height: 35px;
}

.why {
  background-color: $white;
  font-size: 24px;
  padding: 10px;
}

div.why p {
  font-family: $secondary-font;
  line-height: 35px;
}

.aboutme {
  width: 500px;
  height: 500px;
  margin-top: 300px;
}

div.aboutme p {
  font-family: $secondary-font;
}

.questionscontain {
  margin-left: 10%;
  margin-right: 10%;
}
